@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #030303;
}
.git-background {
  background-image: url('/assets/git-1.gif');
  background-size: cover;  /* O ajusta según tus preferencias */
  background-position: center;
  /* Otras propiedades de fondo según tus necesidades */
}
::selection {
  background: #eff2f3;
}

.degradedBlue {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 5px 0;
}

.swiper-pagination-bullet {
  background: #fff !important;
}

.swiper-pagination-bullet-active {
  background: rgba(242, 245, 245, 0.6) !important;
}

.slider-horizontal {
  display: flex;
  animation: swipe 5000ms linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}
